In [1]:
import pandas as pd

In [27]:
df = pd.read_excel("./../data/text_labels.xlsx", sheet_name=0)

In [28]:
df.head()

,file,cogn_func,is_cogn_func_basic,emotion,is_emotion_basic,cogn_test,cogn_test_is_groupal,cogn_test_is_oral,characteristic,behaviour,capability,comp_activity,event,level,mechanic,parameter,psych_task,recogn_method,state
0,0000_000_999-accidentes-trabajo.txt,6,0,6,0,5,0,0,NaN,NaN,1,NaN,NaN,2,1,NaN,1,1,5
1,012015-Lecciones-aprendidas.txt,7,0,4,1,3,1,0,NaN,NaN,2,NaN,NaN,2,1,NaN,1,4,0
2,31-5_Caida_desde_escalera_de_silo.txt,3,0,6,0,4,0,0,NaN,NaN,2,NaN,NaN,2,2,NaN,4,0,2
3,auxiliar_trafico_aprisionado_vehiculo.txt,5,0,9,0,5,1,0,NaN,NaN,4,NaN,NaN,2,4,NaN,2,0,5
4,caida_alturas.txt,3,0,0,1,2,0,1,NaN,NaN,0,NaN,NaN,1,3,NaN,0,1,0

In [31]:
text_files = df.file

documents = []
for text_file in text_files:
    with open(f"./../data/text/prep/{text_file}", "r") as f:
        documents.append("".join(f.readlines()))

## TF-IDF Representation

In [45]:
## Remove stop words

import spacy
 
# Load spaCy spanish model
nlp = spacy.load("es_core_news_sm")
 
clean_docs = []

for text in documents:

 
# Process the text using spaCy
    doc = nlp(text)
    
    # Remove stopwords
    filtered_words = [token.text for token in doc if not token.is_stop]
 
# Join the filtered words to form a clean text
    clean_text = ' '.join(filtered_words)
    clean_docs.append(clean_text)

In [46]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()

tfidf = vectorizer.fit_transform(clean_docs)

In [62]:
X = tfidf.toarray()
X = pd.DataFrame(X)
X

,0,1,2,3,4,5,6,7,8,9,...,9887,9888,9889,9890,9891,9892,9893,9894,9895,9896
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.0
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.0
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.0
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.0
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.08174,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,0.004120,0.000000,0.009899,0.000000,0.000000,0.009899,0.000000,0.00000,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.00000,0.009899,0.0,0.0
80,0.000000,0.011850,0.000000,0.000000,0.015638,0.000000,0.000000,0.00000,0.0,0.000000,...,0.0,0.024394,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.0
81,0.037983,0.113985,0.000000,0.000000,0.000000,0.000000,0.038390,0.00000,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.0
82,0.000000,0.066779,0.000000,0.017962,0.000000,0.000000,0.014459,0.01585,0.0,0.012984,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.0
83,0.000000,0.011817,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.016083,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.0

In [53]:
X.shape

torch.Size([84, 9897])

In [58]:
y = df.dropna(axis=1)
y = y.drop("file", axis=1)
y

,cogn_func,is_cogn_func_basic,emotion,is_emotion_basic,cogn_test,cogn_test_is_groupal,cogn_test_is_oral,capability,level,mechanic,psych_task,recogn_method,state
0,6,0,6,0,5,0,0,1,2,1,1,1,5
1,7,0,4,1,3,1,0,2,2,1,1,4,0
2,3,0,6,0,4,0,0,2,2,2,4,0,2
3,5,0,9,0,5,1,0,4,2,4,2,0,5
4,3,0,0,1,2,0,1,0,1,3,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,6,0,7,0,0,1,0,0,0,1,5,0,1
80,5,0,0,1,5,0,0,3,0,1,4,0,2
81,5,0,9,0,5,1,1,3,0,4,5,2,2
82,1,1,6,0,0,0,0,0,0,1,5,2,2
83,5,0,2,1,4,0,0,3,0,0,1,0,3

In [59]:
y.shape

(84, 13)

In [64]:
y.to_csv("./../data/features/out_features.csv", index=False)
X.to_csv("./../data/features/in_features.csv", index=False)